@model FriendBook.ViewModels.HomePageViewModel

@{Html.RenderPartial("MessageAreaPartial");}

<div class="colorContainer">
    <div class="row">
        <i class="fa fa-users brandImg" aria-hidden="true"></i>
        <h2 class="brandName">FriendBook</h2>
        <div class="col-md-12">
            <form asp-action="NewStatus" enctype="multipart/form-data" class="NewStatusForm">

                <label for="addPToStatus" class="addPToStatusLabel">
                    <div class="addPhotoToStatusDiv">Add Photo</div>
                    <div class="photoSelectedArea"></div>
                </label>
                <input type="file" asp-for="@Model.PostImgUpload" name="PostImgUpload" id="addPToStatus" class="addPToStatus"/>

                <textarea asp-for="@Model.Post.Text" class="newStatus" placeholder="What's on your mind?"></textarea>
                <input type="submit" class="submitStatus btn-success" value="Submit" />
                <input type="button" class="tagFriends btn-warning" value="Tag Friends" />
                <input type="button" class="clearStatus btn-danger" value="Clear" />
            </form>
        </div>
    </div>

    <div class="row tagFriendsDiv hidden">
        <div class="ActualTaggedFriends"></div>

        <input type="text" class="tagFriendsInput" placeholder="With: " />

        <div class="tagFriendSearchDiv"></div>
    </div>

    <div class="row">
        <div class="col-md-12 startPosts">
            @{Html.RenderPartial("PostsPartial");}
        </div>
    </div>

</div>