@model FriendBook.ViewModels.ProfileAlbumViewModel

@{Html.RenderPartial("MessageAreaPartial");}

<div class="colorContainer">
    <div class="row profileHead">
        @{Html.RenderPartial("ProfileHeadPartial");}
    </div>

    <div class="row imagesDiv" id="images">
        <i class="fa fa-photo friendIcon"></i>
        <h3 class="friendHead">Albums</h3>

        @if (Model.UserProfile.UserId == Model.CurrentUser.UserId)
        {
            <i class="fa fa-plus-circle addAlbum"></i>
        }

        <div class="createNewAlbum hidden">
            <h3>Create New Album</h3>

            <form>
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Album Name: </label>
                        <div class="col-md-8">
                            <input type="text" class="form-control albumNameInput" />
                            <span class="albumNameValidation"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Description: </label>
                        <div class="col-md-8">
                            <input type="text" class="form-control albumDescription" />
                            <span class="albumDescriptionValidation"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-8">
                            <input type="button" value="Create Album" class="btn btn-default createAlbum" />
                        </div>
                    </div>
                </div>
            </form>

        </div>

        <div class="albumShowArea">
            @foreach (var a in Model.UserAlbums)
            {
                <div class="ImageArea" id="@a.AlbumId">
                    <a href="/Profile/AlbumImages/@Model.UserProfile.UserId/@a.AlbumId/#!">
                        <h3 class="albumName">@a.AlbumName</h3>
                        @if (a.AlbumImages != null)
                        {
                            <img src="@a.AlbumImages[0].ImagePath" class="albumImg" />
                        }
                        else
                        {
                            <img src="~/images/egg.png" class="albumImg" />
                        }
                    </a>
                    @if (Model.UserProfile.UserId == Model.CurrentUser.UserId)
                    {
                        <a asp-action="DeleteAlbum" asp-controller="Album" asp-route-id="@a.AlbumId">
                            <input type="button" class="DeleteAlbum btn-danger" value="Delete Album" />
                        </a>
                    }
                </div>
            }
        </div>
    </div>
</div>
