@model FriendBook.ViewModels.ProfileIndexViewModel

@{Html.RenderPartial("MessageAreaPartial");}

<div class="colorContainer">

    <div class="row profileHead">
        @{Html.RenderPartial("ProfileHeadPartial");}
    </div>

    <div class="row posts" id="posts">
        <i class="fa fa-book postIcon"></i>
        <h3 class="postHead">Posts and Mentions (@Model.Posts.Count)</h3>
        <div class="col-md-12">
            @{Html.RenderPartial("PostsPartial");}
        </div>
    </div>

</div>
