@model FriendBook.ViewModels.ProfileForSaleViewModel

@{Html.RenderPartial("MessageAreaPartial");}

<div class="colorContainer">
    <div class="row profileHead">
        @{Html.RenderPartial("ProfileHeadPartial");}
    </div>

    <i class="fa fa-tag friendIcon"></i>
    <h3 class="friendHead">For Sale (@Model.YardSaleItems.Count)</h3>

    @if (Model.YardSaleItems.Count == 0)
    {
        <div class="NoSaleItems ExtraMarginTop">
            <h3>@Model.UserProfile.FirstName, currently has no items up for sale. Click <a asp-action="NewItem" asp-controller="YardSale" class="NewItemLink">here</a> if you would like to put an item up for sale!</h3>
        </div>
    }
    else
    {
        Html.RenderPartial("ItemsForSalePartial");
    }
</div>