@model FriendBook.ViewModels.YardSaleHomeViewModel

@{Html.RenderPartial("MessageAreaPartial");}

<div class="colorContainer">


    <div class="YardSaleWelcome">
        <h2>Buy, Sell, or Trade</h2>

        <a asp-action="NewItem" asp-controller="YardSale">
            <div class="SellNewItemLinkDiv">
                <span class="glyphicon glyphicon-plus-sign plusSign"></span>
            </div>
        </a>
    </div>

    <div class="YardSaleFilters">
        <h3>Filter By: </h3>
        <label for="FilterByName">Item Name: </label>
        <input type="text" id="FilterByName" class="FilterByName" />

        <label>Category: </label>
        <select class="FilterByCategory" id="FilterByCategory">
            <option value="0">All Categories</option>
            <option>Electronics</option>
            <option>Movies</option>
            <option>Books</option>
            <option>Video Games</option>
            <option>Pets</option>
            <option>Beauty</option>
            <option>Household</option>
            <option>Automotive</option>
            <option>Clothing</option>
            <option>Sports and Fitness</option>
            <option>Jewelry</option>
        </select>
    </div>

    @if (Model.YardSaleItems.Count == 0)
    {
        <div class="NoSaleItems">
            <h3>You currently have no friends that have items for sale. Click <a asp-action="NewItem" asp-controller="YardSale" class="NewItemLink">here</a> to put an item up for sale!</h3>
        </div>
    }
    else
    {
            Html.RenderPartial("ItemsForSalePartial");
    }
</div>
