.navbar{
    position: absolute;
    z-index: -1;
}

.nav img{
    width: 20%;
}

.Notifications{
    margin-top: 5px!important;
}

.notificationArea{
    margin-right: -13.5%;
    float: right;
    width: 20%;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.notificationProfileImg{
    width: 35%;
    float: left;
    margin-right: 3%;
}

.bodyWrapper{
    margin-top: 6%;
}

.body{
    z-index: -2!important;
}

.nav a{
    margin-top: 8%;
}

.nav span img{
    margin-top: 5%;
}

.newStatus{
    width: 50%;
    height: 130px;
    max-width: 50%;
    max-height: 130px;
    color: black;
}

.userSearchArea{
    margin-top: 1.3%;
    margin-left: 17%;
    float: left;
    width: 40%;
}

.body{
    z-index: -1;
    width: 80%;
    margin-left: 10%;
    position: absolute;
}

.userSearch{
    color: black;
    vertical-align: middle;
    width: 100%;
    border-bottom: 2px solid black;
}

.userInSearch{
    background-color: lightgrey;
    text-align: center;
    border-bottom: 2px solid black;
    z-index: 3;
    margin-bottom: 0;
}

.hidden{
    display: none;
}

.frButton{
    margin-left: 5%;
    width:41%;
}

.frButtonDiv{
    margin-top: 2%;
    margin-bottom: 2%;
}

.colorContainer{
    padding: 2%;
    z-index: -1;
    position: absolute;
    width: 100%;
}

.successFR p{
    margin-bottom: 0;
    width: 90%;
    margin: auto;
}

.NoFR{
    font-size: 1.3em;
    text-align: center;
    padding: 1%;
}

.receivedFR{
    padding-top: 2%;
}

a{
    color: black!important;
}