.navbar{
    z-index: -1;
}

.nav img{
    width: 20%;
}

.nav a{
    margin-top: 8%;
}

.nav span img{
    margin-top: 5%;
}

.newStatus{
    width: 50%;
    height: 130px;
    max-width: 50%;
    max-height: 130px;
    color: black;
}

.userSearchArea{
    margin-top: -3.6%;
    margin-left: 17%;
    float: left;
    width: 40%;
}

.body{
    margin-top: 5%;
}

.userSearch{
    color: black;
    vertical-align: middle;
    width: 100%;
    border-bottom: 2px solid black;
}

.userInSearch{
    background-color: lightgrey;
    text-align: center;
    border-bottom: 2px solid black;
    /*border-left: 2px solid black;*/
    /*border-right: 2px solid black;*/
    margin-bottom: 0;
}