<div class="messagingContainer">
    @foreach (var user in Model.UserFriends)
    {
        <div class="MessageAreaUser" id="@user.UserId">
            <img src="@user.ProfileImg" class="messageProfileImg" />
            <span class="MessageAreaName">@user.FirstName @user.LastName</span>
        </div>
    }
</div>